@charset "UTF-8";

#wrap{
	width:1200px;
	margin:auto;
	font-weight: bold;
}

header{
	height:100px;
}

.main-menu{
	height:40px;
	
}
.nav-item {
    flex: 1;
    text-align: center;
  }

footer{
	height:70px;
}